* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #faebd7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

article {
    width: 700px;
    display: flex;
    border-radius: 20px;
    background-color: #f5f5f5;
    overflow: hidden;
    box-shadow: 9px 9px 5px -8px rgba(0,0,0,0.75);
}

.contein-img img {
    max-width: 350px;
    height: 100%;
}

.contein-perfume {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contein-perfume h3 {
    color: #4e4e4e;
    font-family: monospace;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contein-perfume h2{
    text-transform: capitalize;
}

p {
    color: #5f5f5f;
}

p strong {
    color: #33705a;
    font-size: 2rem;
}

p span {
    margin-left: 20px;
    text-decoration: line-through;
    color: #4e4e4e;
}

button {
    background-color: #33705a;
    border: none;
    color: #f5f5f5;
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b3a2f;
}

button:active {
    background-color: #33705a;
}

@media screen and (max-width: 720px) {
    article {
        flex-direction: column;
        width: 350px;
    }

    div.contein-perfume {
        height: 395px;
    }
}